@import 'colors';
@import 'font';
@import 'config';

body {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    height: auto;
    background-image: linear-gradient(#F6FAFD, #FFFFFF,);
}

.navwrapper {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
}

.nav {
    width: 78%;
    height: auto;
    margin-top: 3em; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
    &__logo {
        font-size: 3rem;
    }

    &__list {
        width: 25%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    
        &--link {
            text-decoration: none;
            font-family: $font-family;
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.6;
            color: $primary-botton-color;

            &:hover {
                font-style: bold;
                font-weight: 600;
                font-size: 1.1rem;
                color: #000;
                transform: scale(1.1) ;
            }
        }
    }

    &__button {
        width: 19%;
        min-width: 180px;
        height: 60px;
        border-radius: 3rem;
        align-self: flex-end;
        border: 0px;
        background-color: #ffffff;
        box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;

        &--content {
            width: 72%;
            height: 1.3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--text {
                text-decoration: none;
                font-family: 'Muli';
                font-style: normal;
                font-weight: 800;
                font-size: 1rem;
                line-height: 1.6;
                letter-spacing: 0.005em;
                color: $primary-font-color;

                &:hover {
                    color: #ffffff;
                }   
            }

            &--rightarrow {
                width: 10%;
                height: .9rem;
            }
        }

        &:hover {
            background-color: $secondary-botton-color;
        }    
    }
}

@media screen and (max-width: 1200px) {
    .nav__list {
        width: 45%;
    }
}

@media screen and (max-width:800px) {
    .nav {
        width: 25%;
        margin-top: 2em;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav__logo {
        margin-bottom: 1em;
    }

    .nav__list {
        margin-bottom: 2em;
    }

    .nav__button {
        margin-bottom: 5em;
        padding: 1em 0;
    }
}

.headlinewrapper {
    width: 100%;
    height: 724px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headline {
    width: 80%;
    height: 464px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    &__h1 {
        width: 50%;
        height: auto;
        font-family: $font-family;
        font-style: normal;
        font-weight: bold;
        font-size: 5rem;
        line-height: 1.1;
        display: flex;
        align-items: center;
        color: #212353;
    }

    &__content {
        width: 30%;
        height: auto;
        font-family: $font-family;
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.6;
        color: #4B5D68;
    }

    &__button {
        width: 15%;
        min-width: 110px;
        height: 60px;
        background-color: $primary-botton-color;
        border-radius: 3rem;
        padding: 0 1em;
        padding-bottom: .5em;
        font-family: $font-family;
        font-style: normal;
        font-weight: 800;
        font-size: 1.1rem;
        line-height: 1.6;
        text-align: center;
        color: #FFFFFF;
        
        &:hover {
            transform: scale(1.1);
            background-color: $secondary-botton-color;
        }
    }

    &__image {
        max-width: 70%;
        height: auto;
        position: absolute;
        right: 5px;
        top: 110px;
    }
}
        
@media screen and (max-width: 1230px) {
    .headline__h1 {
        font-size: 3rem;
    }
}

       
.section2wrapper {
    width: 100%;
    height: 808px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.section2 {
    width: 73%;
    height: 560px;
    margin: 0 auto;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 46px;

    &__h2 {
        width: 43%;
        height: 100px;
        font-family: $font-family;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 1.3;
        display: flex;
        align-items: center;
        color: #212353;
        margin-right: 1em;
        margin-bottom: .5em;
    }

    &__content {
        width: 43%;
        height: 170px;
        font-family: Avenir;
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.6;
        color: #4B5D68;
        margin-right: 1.5em;
        margin-top: 1em;
    }

    &__image {
        width: 43%;
        height: auto;
        position: absolute;
        left: 0px;
    }
}

.section3wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.section3 {
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
        width: 584px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: center;
        margin-bottom: 50px;

        &--h4 {
            width: 205px;
            height: 52px;
            text-align: center;
            font-family: $font-family;
            font-style: normal;
            font-weight: bold;
            font-size: 2.5rem;
            line-height: 1.3;
            display: flex;
            align-items: center;
            color: $primary-font-color;
        }

        &--content {
            width: 584px;
            height: 58px;
            font-family: Avenir;
            font-style: normal;
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 160%;
            text-align: center;
            color: #4B5D68;
        }
    }

    &__container {
        width: 100%;
        max-width: 1137;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        &--card {
            width: 531.29px;
            height: 358px;
            padding-top: 1.3em;
            margin-top: 2em;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            &--content {
                width: 276px;
                height: 220px;
                margin-right: 1.7em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
               

                &--h3 {
                    width: 200px;
                    height: 50px;
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.5rem;
                    line-height: 1.3;
                    color: $primary-font-color;
                }
    
                &--text {
                    width: 220px;
                    height: 160px;
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1rem;
                    line-height: 1.6;
                    color: $secondary-font-color;
                }
    
                &--link {
                    width: 127px;
                    height: 26px;
                    margin-top: 1.3em;
                    display: flex;
                    justify-content: space-between;

                    &--title {
                        font-family: $font-family;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 1rem;
                        line-height: 1.6;
                        letter-spacing: 0.005em;
                        color: $primary-font-color;
                    }

                    &--arrow {
                        width: 20px;
                        height: 14px;

                        &:hover {
                            transform: scale(1.2);
                            color: $secondary-botton-color;
                            padding: 1px;
                        }
                    }
                }
            }

            &--image {
                width: 232px;
                height: 211px;
                position: absolute;
                left: -60px;
            }
                
            &--image2 {
                width: 232px;
                height: 211px;
                position: absolute;
                right: -60px;
            }
        }
   
        &--card1 {
            background-image: url("../images/background31.png");
            background-repeat: no-repeat;
            background-position: bottom;
        }

        &--card2 {
            background-image: url("../images/background32.png");
            background-repeat: no-repeat;
            background-position: bottom;
            min-height: 400px;
        }

        &--card3 {
            background-image: url("../images/background33.png");
            background-repeat: no-repeat;
            background-position: bottom;
        }

        &--card4 {
            background-image: url("../images/background34.png");
            background-repeat: no-repeat;
            background-position: bottom;
        }
    }
}

@media screen and (max-width: 1110px) {
    .section3 {
        width:90%;
    }
}

.section4wrapper {
    width: 100%;
    height: 1009px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 {
    width: 73%;
    height: 709px;
    margin: 0 auto;
    background: $primary-botton-color;
    border-radius: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__title { 
        align-self: flex-start; 
        margin-left: 1em;
        font-family: $font-family;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 1.3;
        color: #FFFFFF;
    }

    &__card {
        width: 60%;
        height: 330px;
        margin: 0 auto;
        background: #FFFFFF;
        box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
        border-radius: 20px;
        padding: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        

        &--photo {
            width: 90px;
            height: 90px;
            align-self: flex-start;
        }
        
        &--personalinfo {
            width: 70%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &--name {
                font-family: $font-family;
                font-style: normal;
                font-weight: 900;
                font-size: 1.1rem;
                line-height: 1.6;
                display: flex;
                align-items: center;
                letter-spacing: 0.005em;
                color: $primary-font-color;
            }

            &--title {
                font-family: $font-family;
                font-style: normal;
                font-weight: 500;
                font-size: .9rem;
                line-height: 1.6;
                display: flex;
                align-items: center;
                letter-spacing: 0.01em;
                color: $primary-botton-color;
            }

            &--detail {
                width: 100%;
                height: 130px;
                font-family: Avenir;
                font-style: normal;
                font-weight: normal;
                font-size: 1.1rem;
                line-height: 1.8;
                color: $secondary-font-color;
            }
        }
    }
}    

@media screen and (max-width: 1590px) {
    .section4__title {
        align-self: center;
        margin: 0px;
    }

    .section4__card {
        width: 85%;
    }
}

@media screen and (max-width: 900px) {
    .section4__card {
        flex-direction: column;
        width: 95%;
    }

    .section4__card--personalinfo {
        width: 95%;

    }
}


.divider {
    width: 100%;
    height: 2px;
    background-color: $primary-botton-color;
    opacity: 0.2;
}
    
.section5wrapper {
    width: 100%;
    height: 301px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5 {
    width: 73%;
    height: 101px;
    display: flex;
    justify-content: space-between;

    &__title {
        width: 584px;
        height: 101px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--h4 {
            font-family: $font-family;
            font-style: normal;
            font-weight: bold;
            font-size: 2.5rem;
            line-height: 1.3;
            color: $primary-font-color;
        }

        &--h6 {
            font-family: $font-family;
            font-style: normal;
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 1.6;
            color: $secondary-font-color;
        }
    }

    &__button {
        width: 410px;
        height: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &--1 {
            width: 170px;
            height: 60px;
            background: $secondary-botton-color;
            border-radius: 50px;
            font-family: $font-family;
            font-style: normal;
            font-weight: 900;
            font-size: 1.1rem;
            line-height: 1.6;
            text-align: center;
            color: #FFFFFF;

            &:hover {
                transform: scale(1.1);
                background-color: $primary-botton-color;
            }
        }

        &--2 {
            width: 210px;
            height: 60px;
            background: #FFFFFF;
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            border-radius: 50px;
            display: flex;
            justify-content: space-evenly;

            &:hover {
                transform: scale(1.1);
                background-color: $secondary-botton-color; 
            }

            &--text {
                font-family: $font-family;
                font-style: normal;
                font-weight: 900;
                font-size: 1rem;
                line-height: 1.6;
                letter-spacing: 0.005em;
                color: $primary-font-color;

                &:hover {
                    color: #ffffff;
                }
            }
        }
    }
}

.footerwrapper {
    width: 100%;
    height: 499px;
    display: flex;
    justify-content: center;
}

.footer {
    width: 73%;
    height: 408px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__company {
        width: 335px;
        height: 408px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--identification {
            width: 222px;
            height: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--logo {
                width: 49px;
                height: 35px;
            }

            &--name {
                width: 153px;
                height: 30px;
                font-family: $font-family;
                font-style: normal;
                font-weight: 900;
                font-size: 1.3rem;
                line-height: 1.6;
                color: $primary-font-color;
            }
        }

        &--address {
            width: 253px;
            height: 65px;
            margin-bottom: -50px;
            font-family: $font-family;
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.8;
            letter-spacing: 0.01em;
            color: $primary-font-color;
        }

        &--contact {
            width: 200px;
            height: 60px;
            margin-top: -50px;
            font-family: $font-family;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.8;
            letter-spacing: 0.01em;
            color: $primary-font-color;
        }

        &--copyright {
            width: 310px;
            height: 50px;
            font-family: $font-family;
            font-style: normal;
            font-weight: normal;
            font-size: .8rem;
            line-height: 1.8;
            letter-spacing: 0.01em;
            color: $primary-font-color;
        }
    }

    &__aboutandhelp {
        width: 83px;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        &--title {
            font-family: $font-family;
            font-style: normal;
            font-weight: 900;
            font-size: 1rem;
            line-height: 1.6;
            color: $primary-font-color;
        }

        &--content {
            width: 83px;
            height: 166px;
            font-family: $font-family;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 2.5;
            
        }
    }

    .footer__aboutandhelp a {
        text-decoration: none;
        color: $primary-font-color;

        &:hover {
            color: $primary-botton-color;
        }
    }


    &__sm {
        width: 178px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--title {
            font-family: $font-family;
            font-style: normal;
            font-weight: 900;
            font-size: 1rem;
            line-height: 1.6;
            color: $primary-font-color;
        }

        &--content {
            width: 178px;
            height: 50px;
            display: flex;
            justify-content: space-between;

            &--f --t --i:hover {
                color: rgba(75, 93, 104, 0.1);
            }
        }
    }
}
