@import 'colors';
@import 'font';
@import 'config';

header {
    width: 100%;
    max-height: 100vh;
    background-image: linear-gradient(#F6FAFD, #FFFFFF,);
}

.navwrapper {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
   
}

.nav {
    width: 1120px;
    height: 60px;
    margin-top: 50px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__logo {
        min-width: 49px;
        min-height: 35px;
    }

    &__list {
        width: 322px;
        height: 30px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    
        &--link {
            text-decoration: none;
            font-family: $font-family;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6;
            color: #4B5D68;

            &:hover {
                font-style: bold;
                font-weight: 600;
                font-size: 17px;
                color: #000;
                transform: scale(1.1) ;
            }
        }
    }

    &__button {
        width: 210px;
        height: 60px;
        border-radius: 50px;
        align-self: flex-end;
        border: 0px;
        background-color: #ffffff;
        box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;

        &--content {
            width: 152px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--text {
                text-decoration: none;
                font-family: 'Muli';
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                line-height: 1.6;
                letter-spacing: 0.005em;
                color: $primary-font-color;

                &:hover {
                    color: #ffffff;
                }   
            }

            &--rightarrow {
                width: 20px;
                height: 14px;
            }
        }

        &:hover {
            background-color: $secondary-botton-color;
        }    
    }
}

.headlinewrapper {
    width: 100%;
    height: 724px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.headline {
    width: 1290px;
    height: 464px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &__h1 {
        width: 645px;
        height: 184px;
        font-family: $font-family;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 1.1;
        display: flex;
        align-items: center;
        color: #212353;
    }

    &__content {
        width: 380px;
        height: 120px;
        font-family: $font-family;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.6;
        color: #4B5D68;
    }

    &__button {
        width: 170px;
        height: 60px;
        background-color: $primary-botton-color;
        border-radius: 50px;
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.6;
        text-align: center;
        color: #FFFFFF;

        &:hover {
            transform: scale(1.1);
            background-color: $secondary-botton-color;
        }
    }

    &__image {
        width: 885px;
        height: 468px;
        position: absolute;
        right: 5px;
        top: 110px;
    }
}
       
.section2wrapper {
    width: 100%;
    height: 808px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.section2 {
    width: 1117px;
    height: 560px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 46px;

    &__h2 {
        width: 475px;
        height: 100px;
        font-family: $font-family;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 1.3;
        display: flex;
        align-items: center;
        color: #212353;
        margin-right: 46px;
        margin-bottom: 20px;
    }

    &__content {
        width: 474px;
        height: 170px;
        font-family: Avenir;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.6;
        color: #4B5D68;
        margin-right: 46px;
        margin-top: 20px
    }

    &__image {
        width: 477px;
        height: 504px;
        position: absolute;
        left: 0px;
    }
}

.section3wrapper {
    width: 100%;
    height: 1026px;
    display: flex;
    justify-content: center;
}

.section3 {
    width: 1137.28px;
    height: 1026px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
        width: 584px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: center;

        &--h4 {
            width: 205px;
            height: 52px;
            text-align: center;
            font-family: $font-family;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 1.3;
            display: flex;
            align-items: center;
            color: $primary-font-color;
        }

        &--content {
            width: 584px;
            height: 58px;
            font-family: Avenir;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            text-align: center;
            color: #4B5D68;
        }
    }

    &__container {
        width: 1137.28px;
        height: 766px;
        position: relative;
        display: flex;
        flex-wrap: wrap;

        &--card {
            width: 531.29px;
            height: 358px;
            padding-top: 30px;
            background-image: url("../images/background31.png");
            background-repeat: no-repeat;
            background-position: bottom;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            &--content {
                width: 276px;
                height: 220px;
                margin-right: 40px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
               

                &--h3 {
                    width: 200px;
                    height: 50px;
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 1.3;
                    color: $primary-font-color;
                }
    
                &--text {
                    width: 220px;
                    height: 160px;
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 1.6;
                    color: $secondary-font-color;
                }
    
                &--link {
                    width: 127px;
                    height: 26px;
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;

                    &--title {
                        font-family: $font-family;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 1.6;
                        letter-spacing: 0.005em;
                        color: $primary-font-color;
                    }

                    &--arrow {
                        width: 20px;
                        height: 14px;

                        &:hover {
                            transform: scale(1.2);
                            color: $secondary-botton-color;
                            padding: 1px;
                        }
                    }

                    &--image {
                        width: 232px;
                        height: 211px;
                        position: absolute;
                        left: -60px;
                    }
                }
            }
        }
   
        &--card1 {
            background-image: url("../images/background31.png");
            background-repeat: no-repeat;
            background-position: bottom;
        }

        &--card2 {
            background-image: url("../images/background32.png");
            background-repeat: no-repeat;
            background-position: bottom;
        }

        &--card3 {
            background-image: url("../images/background33.png");
            background-repeat: no-repeat;
            background-position: bottom;
        }

        &--card4 {
            background-image: url("../images/background34.png");
            background-repeat: no-repeat;
            background-position: bottom;
        }

            
                
            
    }
}



    







    

        
