* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

header {
  width: 100%;
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F6FAFD), to(#FFFFFF));
  background-image: linear-gradient(#F6FAFD, #FFFFFF);
}

.navwrapper {
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  width: 78%;
  height: auto;
  margin-top: 3em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  font-size: 3rem;
}

.nav__list {
  width: 25%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list--link {
  text-decoration: none;
  font-family: "Muli";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
  color: #9C69E2;
}

.nav__list--link:hover {
  font-style: bold;
  font-weight: 600;
  font-size: 1.1rem;
  color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav__button {
  width: 19%;
  min-width: 180px;
  height: 60px;
  border-radius: 3rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__button--content {
  width: 72%;
  height: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__button--content--text {
  text-decoration: none;
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.005em;
  color: #212353;
}

.nav__button--content--text:hover {
  color: #ffffff;
}

.nav__button--content--rightarrow {
  width: 10%;
  height: .9rem;
}

.nav__button:hover {
  background-color: #F063B8;
}

@media screen and (max-width: 1200px) {
  .nav__list {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    width: 25%;
    margin-top: 2em;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__logo {
    margin-bottom: 1em;
  }
  .nav__list {
    margin-bottom: 2em;
  }
  .nav__button {
    margin-bottom: 5em;
    padding: 1em 0;
  }
}

.headlinewrapper {
  width: 100%;
  height: 724px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headline {
  width: 80%;
  height: 464px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.headline__h1 {
  width: 50%;
  height: auto;
  font-family: "Muli";
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  line-height: 1.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212353;
}

.headline__content {
  width: 30%;
  height: auto;
  font-family: "Muli";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #4B5D68;
}

.headline__button {
  width: 15%;
  min-width: 110px;
  height: 60px;
  background-color: #9C69E2;
  border-radius: 3rem;
  padding: 0 1em;
  padding-bottom: .5em;
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
  color: #FFFFFF;
}

.headline__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #F063B8;
}

.headline__image {
  max-width: 70%;
  height: auto;
  position: absolute;
  right: 5px;
  top: 110px;
}

@media screen and (max-width: 1230px) {
  .headline__h1 {
    font-size: 3rem;
  }
}

.section2wrapper {
  width: 100%;
  height: 808px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 {
  width: 73%;
  height: 560px;
  margin: 0 auto;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 46px;
}

.section2__h2 {
  width: 43%;
  height: 100px;
  font-family: "Muli";
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212353;
  margin-right: 1em;
  margin-bottom: .5em;
}

.section2__content {
  width: 43%;
  height: 170px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #4B5D68;
  margin-right: 1.5em;
  margin-top: 1em;
}

.section2__image {
  width: 43%;
  height: auto;
  position: absolute;
  left: 0px;
}

.section3wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3 {
  width: 75%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3__title {
  width: 584px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.section3__title--h4 {
  width: 205px;
  height: 52px;
  text-align: center;
  font-family: "Muli";
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212353;
}

.section3__title--content {
  width: 584px;
  height: 58px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 160%;
  text-align: center;
  color: #4B5D68;
}

.section3__container {
  width: 100%;
  max-width: 1137;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section3__container--card {
  width: 531.29px;
  height: 358px;
  padding-top: 1.3em;
  margin-top: 2em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3__container--card--content {
  width: 276px;
  height: 220px;
  margin-right: 1.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3__container--card--content--h3 {
  width: 200px;
  height: 50px;
  font-family: "Muli";
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.3;
  color: #212353;
}

.section3__container--card--content--text {
  width: 220px;
  height: 160px;
  font-family: "Muli";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  color: #4B5D68;
}

.section3__container--card--content--link {
  width: 127px;
  height: 26px;
  margin-top: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3__container--card--content--link--title {
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.005em;
  color: #212353;
}

.section3__container--card--content--link--arrow {
  width: 20px;
  height: 14px;
}

.section3__container--card--content--link--arrow:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #F063B8;
  padding: 1px;
}

.section3__container--card--image {
  width: 232px;
  height: 211px;
  position: absolute;
  left: -60px;
}

.section3__container--card--image2 {
  width: 232px;
  height: 211px;
  position: absolute;
  right: -60px;
}

.section3__container--card1 {
  background-image: url("../images/background31.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.section3__container--card2 {
  background-image: url("../images/background32.png");
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 400px;
}

.section3__container--card3 {
  background-image: url("../images/background33.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.section3__container--card4 {
  background-image: url("../images/background34.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

@media screen and (max-width: 1110px) {
  .section3 {
    width: 90%;
  }
}

.section4wrapper {
  width: 100%;
  height: 1009px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 {
  width: 73%;
  height: 709px;
  margin: 0 auto;
  background: #9C69E2;
  border-radius: 50px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section4__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 1em;
  font-family: "Muli";
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.3;
  color: #FFFFFF;
}

.section4__card {
  width: 60%;
  height: 330px;
  margin: 0 auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
          box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4__card--photo {
  width: 90px;
  height: 90px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section4__card--personalinfo {
  width: 70%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section4__card--personalinfo--name {
  font-family: "Muli";
  font-style: normal;
  font-weight: 900;
  font-size: 1.1rem;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
}

.section4__card--personalinfo--title {
  font-family: "Muli";
  font-style: normal;
  font-weight: 500;
  font-size: .9rem;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.01em;
  color: #9C69E2;
}

.section4__card--personalinfo--detail {
  width: 100%;
  height: 130px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #4B5D68;
}

@media screen and (max-width: 1590px) {
  .section4__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0px;
  }
  .section4__card {
    width: 85%;
  }
}

@media screen and (max-width: 900px) {
  .section4__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
  .section4__card--personalinfo {
    width: 95%;
  }
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #9C69E2;
  opacity: 0.2;
}

.section5wrapper {
  width: 100%;
  height: 301px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section5 {
  width: 73%;
  height: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section5__title {
  width: 584px;
  height: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section5__title--h4 {
  font-family: "Muli";
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.3;
  color: #212353;
}

.section5__title--h6 {
  font-family: "Muli";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #4B5D68;
}

.section5__button {
  width: 410px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section5__button--1 {
  width: 170px;
  height: 60px;
  background: #F063B8;
  border-radius: 50px;
  font-family: "Muli";
  font-style: normal;
  font-weight: 900;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
  color: #FFFFFF;
}

.section5__button--1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #9C69E2;
}

.section5__button--2 {
  width: 210px;
  height: 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section5__button--2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #F063B8;
}

.section5__button--2--text {
  font-family: "Muli";
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.005em;
  color: #212353;
}

.section5__button--2--text:hover {
  color: #ffffff;
}

.footerwrapper {
  width: 100%;
  height: 499px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  width: 73%;
  height: 408px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__company {
  width: 335px;
  height: 408px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__company--identification {
  width: 222px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__company--identification--logo {
  width: 49px;
  height: 35px;
}

.footer__company--identification--name {
  width: 153px;
  height: 30px;
  font-family: "Muli";
  font-style: normal;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 1.6;
  color: #212353;
}

.footer__company--address {
  width: 253px;
  height: 65px;
  margin-bottom: -50px;
  font-family: "Muli";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #212353;
}

.footer__company--contact {
  width: 200px;
  height: 60px;
  margin-top: -50px;
  font-family: "Muli";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #212353;
}

.footer__company--copyright {
  width: 310px;
  height: 50px;
  font-family: "Muli";
  font-style: normal;
  font-weight: normal;
  font-size: .8rem;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #212353;
}

.footer__aboutandhelp {
  width: 83px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__aboutandhelp--title {
  font-family: "Muli";
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.6;
  color: #212353;
}

.footer__aboutandhelp--content {
  width: 83px;
  height: 166px;
  font-family: "Muli";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2.5;
}

.footer .footer__aboutandhelp a {
  text-decoration: none;
  color: #212353;
}

.footer .footer__aboutandhelp a:hover {
  color: #9C69E2;
}

.footer__sm {
  width: 178px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__sm--title {
  font-family: "Muli";
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.6;
  color: #212353;
}

.footer__sm--content {
  width: 178px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__sm--content--f --t --i:hover {
  color: rgba(75, 93, 104, 0.1);
}
/*# sourceMappingURL=index.css.map */